<mat-sidenav-container class="sidenav-container" *transloco="let t">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>{{t.menu}}</mat-toolbar>
    <mat-nav-list (click)="drawer.close()">
      <a mat-list-item routerLink="/">{{t.books}}</a>
      <a mat-list-item routerLink="books/new">{{t.create_books}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">{{t.menu}}</mat-icon>
      </button>
      <span (click)="drawer.toggle()">{{t.title}}</span>
    </mat-toolbar>
    <ng-content></ng-content>
    <footer>
        <hr>
        <ws-date-component></ws-date-component>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
