// @import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
